# Dependencies
node_modules/
**/node_modules/

# Builds
dist/
.next/
out/

# Environment variables
.env
.env.*
!.env.example

# Prisma
*.db
*.db-journal

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/